services:
  back:
    build: .
    container_name: by_car_back
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/mydb"
    depends_on:
      db:
        condition: service_healthy
    restart: always

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: by_car_front
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always

  db:
    image: postgres:18
    container_name: by_car_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 3s
      retries: 5
    restart: always