services:
  back:
    build: .
    container_name: by_car_back
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ./images:/images
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/mydb"
      SELENIUM_URL: http://selenium:4444/wd/hub
    depends_on:
      db:
        condition: service_healthy
    restart: always

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: by_car_front
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always

  db:
    image: postgres:18
    container_name: by_car_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 3s
      retries: 5
    restart: always

  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium
    shm_size: 2g
    ports:
      - "4444:4444"
    environment:
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_SESSION_TIMEOUT=600
