services:
  back:
    build: .
    container_name: by_car_back
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    restart: always

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: by_car_front
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always