.auth__wrapper {
  background-color: #F1EAE0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter';
}

.auth__container {
  max-width: 492px;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
}

.auth__login-container {
  padding-top: 240px;
}

.auth__title {
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: 500;
}

.auth__input {
  width: 492px;
  height: 62px;
  margin-bottom: 50px;
}

.auth__button {
  display: flex;
  width: 200px;
  justify-content: center;
  margin: 0 auto;
}

.auth__text {
  margin-top: 12px;
  font-size: 16px;
  color: #555;
}

.auth__text a {
  color: black;
  font-weight: 500;
}