.car-card {
    min-width: 393px;
    max-height: 329px;
    background: #E4DDD5;
    border-radius: 20px;
    padding: 10px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.car-card:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.car-card img {
  width: 100%;
  height: 254px;
  object-fit: cover;
  border-radius: 20px;
}

.car-name {
    font-family: 'Inter';
    font-size: 24px;
    margin-top: 8px;
    overflow: hidden;
}