@font-face {
    font-family: 'Your Second Glance Font';
    src: url('../assets/fonts/DaysOne-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Rust Font';
    src: url('../assets/fonts/NotoSans-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_24pt-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}