.header {
    display: flex;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    cursor: pointer;
}

.auth-nav {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Inter';
    color: black;
}

.user-name {
    font-size: 28px;
    font-family: 'Inter';
    color: black;
}