.image-card {
    min-width: 393px;
    max-height: 329px;
    background: #E4DDD5;
    border-radius: 20px;
    padding: 12px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.image-card:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.image-card img {
  width: 100%;
  height: 254px;
  object-fit: cover;
  border-radius: 20px;
}
