.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #D0CAC0;
  border-top: 3px solid #150d0d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
